@mixin flex-align($x:null,$y:null) {
  display: flex;
  align-items: $y;
  justify-content: $x;
}

@mixin flex-orient($direction: v) {
  // 垂直方向
  @if ($direction == v) {
    flex-direction: column;
  } @else if ($direction == h) {
    flex-direction: row;
  }

}

@mixin flex-count($count:1) {
  flex: $count;
}

@mixin flex-align-justify {
  @include flex-align;
  justify-content: space-between;
  align-items: center;
}
